body {
    font-weight: bold;
    text-align: center;
    margin: 0;
    font: 1em/1.4 Sans-serif;
    background: url("https://cdn.pixabay.com/photo/2020/08/02/14/18/blue-5457731_960_720.jpg") center center;
    background-size: 100vw auto;
    text-decoration: aliceblue;
  }
  
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    .acrylic {
    
        backdrop-filter: blur(15px);
        background-color: rgba( #000000,0.5);
    }
    
    .shadow {
        border-radius: 1px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
    } 

    span {
    margin-top: 10px;
    margin-bottom: 10px;
    }
        #num1-el{
            color: white;
        }
        #num2-el {
            color: white;
        } 
        #sum-el{
            color: white;
        }
        

    button {
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        font-weight: bold;
        width: 200px;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    button:hover {
        color: blue;
    }
