body {
    text-align: center;
    margin: 0;
    font: 1em/1.4 Sans-serif;
    background: url("https://cdn.pixabay.com/photo/2022/06/13/22/32/casino-7260767_960_720.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
  }
    h1 {
        color: goldenrod;
    }
    p {
        font-style: italic;
    }
  
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    .acrylic {
    
        backdrop-filter: blur(15px);
        background-color: rgba( #000000,0.5);
    }
    
    .shadow {
        border-radius: 1px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 8px rgba(0, 0, 0, 0.2);
    } 

    span {
    margin-top: 10px;
    margin-bottom: 10px;
    }
        #sum-el{
            color: white;
        }
        

    button {
        border: none;
        padding-top: 10px;
        padding-bottom: 10px;
        color: black;
        font-weight: bold;
        width: 200px;
        margin-top: 10px;
        margin-right: 50px;
        margin-left: 50px;
        border-radius: 100px;
        background-color: goldenrod;
    }
    button:hover {
        background-color: lightgreen;
    }
