body {
    background-image: none;
    background-size: cover;
    background-color: lightcoral;
    font-weight: bold;
    text-align: center;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}
button:hover {
    color: blue;
}

#increment-btn {
    background: darkred;
}
#save-btn {
    background: darkgreen;
}
